/* Bio Info */
.mainabout{
    background-color: rgb(39, 26, 158);
}

#body-info {
    display: grid;
    grid-template-rows: 15rem 1fr 1fr;
    grid-template-rows: min-content auto min-content;
}

html, #body-info {
    height: 100%;
}

header, footer #body-info {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em;
    margin: 1em;
    align-content: center;
}

#Missouri {
    margin: .5em;
    background-color: rgb(160, 152, 44);
}

#Illinois {
    margin: .5em;
    background-color: rgb(190, 80, 43);
}

#Kentucky {
    margin: .5em;
    background-color: rgb(118, 168, 42);
}

.images {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Tablet */
@media screen and (min-width: 800px) {
    section .row {
        max-width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        
    }
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    
    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}

/* Large */
@media screen and (min-width: 1140px) {
    section .row {
        max-width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        
    }
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    
    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}