.maincollection {
    background-color: rgb(96, 97, 201);
}

}

#body-info {
    display: grid;
    grid-template-rows: 15rem 1fr 1fr;
    grid-template-rows: min-content auto min-content;
}

html, #body-info {
    height: 100%;
}

header, footer #body-info {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em;
    margin: 1em;
    align-content: center;
}

.concoles > tr > th {
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    margin: 6px;
}

@media screen and (min-width: 1140px) {
    #video .row {
        max-width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;

    }

    .consoles {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        justify-content: left;
    }

    .computer {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        justify-content: right;
    }

    .footer {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}