#maincollection {
    background-color: rgb(96, 97, 201);
}

html, #collection {
    height: 100%;
}

header, footer #collection {
    padding: 1em;
    margin: 1em;
    align-content: center;
}

.one {
    padding: 1em;
    margin: 1em;
    align-content: right;
}

.memorability {
    min-width: none;
    max-width: 200px;
    margin: auto;
    background-color: rgb(8, 43, 83);
    box-shadow: 1px 3px 15px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 15%;
    background-color: #a593c2;
}

.two {
    padding: 1em;
    margin: 1em;
    align-content: center;
}

.three {
    padding: 1em;
    margin: 1em;
    align-content: left;
}

.images {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(8, 43, 83);
    box-shadow: 1px 3px 15px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 15%;
    background-color: #a593c2;
}

#con1 {
    min-width: none;
    max-width: 750px;
}


    /* Tablet */
@media screen and (min-width: 800px) {
    #sports {
        min-width: none;
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(45, 124, 124);
    }

    #reading {
        min-width: none;
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(206, 169, 163);
    }

    #tv {
        min-width: none;
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(204, 113, 113);

    }

    #footer {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        background-color: purple;
    }
}

/* Large */
@media screen and (min-width: 1140px) {
    #sports {
        min-width: none;
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(45, 124, 124);
    }

    #reading {
        min-width: none;
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(206, 169, 163);
    }

    #tv {
        min-width: none;
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(204, 113, 113);

    }

    #footer {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        background-color: purple;
    }
}