/* Online Links */
.mainWhatthe {
    background-color: rgb(143, 78, 35);
}

#body-info {
    display: grid;
    grid-template-rows: 15rem 1fr 1fr;
    grid-template-rows: min-content auto min-content;
}

html, #body-info {
    height: 100%;
}

header, footer #body-info {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em;
    margin: 1em;
    align-content: center;
}

h1 {
    padding: 1em;
    margin: 1em;
    align-content: center;
}