html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header {
    
}

#mainheader{
   text-align: center;
    background-color: rgb(39, 81, 128);
}


#mainabout{
    background-color: rgb(96, 127, 161);
}

#maincollection {
    background-color: rgb(41, 105, 107);
}

.of one {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Rubik', sans-serif;
}
h1{
    color: red;
}

section {
    padding: 2rem;
}

.section-alt {
    background-color: slategrey;
}

.section-all {
    background-color: rgb(0, 255, 64);
}

.section-alba {
    background-color: blueviolet;
}

@media screen and (min-width: 1140px) {
    section .row {
        max-width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        
    }
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
    }
}